$fromColor: #4857DC
$toColor: rgba(52, 31, 138, 0)
$direction: to right

body
    width: 100%
    padding: 0
    margin: 0

h4
    color: white
    font-size: 1.5em
    font:
        family: 'Poppins', sans-serif
        weight: normal

.block-bg
    position: relative     
    img
        width: 100%
        

.menu
    width: 100%
    text-align: center
    padding-top: 10px
    padding-bottom: 10px
    top: 0px
    position: absolute
    background: 
        color: #666DD6
    a
    font:
        family: 'Poppins', sans-serif
        weight: normal
    color: #fff

.title
    position: absolute
    top: 20%
    width: 100% 
    color: #5F5A5A
    p
        text-align: center
        font:
            family: 'Poppins', sans-serif
            weight: normal
    h3
        width: 100%
        text-align: center
        font-size: 3vw
        font:
            family: 'Poppins', sans-serif
            weight: lighter





.button
    width: 100%
    a
    position: absolute
    top: 70%
    width: 20%
    margin: auto
    left: 0
    right: 0
    border-radius: 3px
    text-align: center
    background: 
        color: #4857DC
    background: linear-gradient(90deg, #4857DC 24%, rgba(52, 31, 138, 0) 180.53%)
    p
    color: #fff
    text-decoration: none


//here is the second block started

.about_goods 
    position: relative
    padding-top: 10%
    padding-bottom: 10%
    margin: 5wv
    display: grid
    grid-gap: 2vw
    grid-template-columns: 250px 250px 250px 
    grid-template-rows: 250px 250px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        color: #4857DC
    background: linear-gradient(270deg, #4857DC 24%, rgba(52, 31, 138, 0) 180.53%)
    margin-top: -1%;
    .button
        width: 70%
        padding: 0.5em



.goods
    position: relative
    border-radius: 3px
    padding: 1vw
    margin: 10px
    text-align:center
    content: ''
    background:
        color: #fff
    p
    text-align: center

.advantages
    position: relative
    padding-top: 10%
    padding-bottom: 10%
    margin: 5wv
    display: grid
    grid-gap: 2vw
    grid-template-columns: 250px 250px 250px 
    grid-template-rows: 250px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        image: url("../img/30.png")

        
.adv_items
    border-radius: 3px
    padding: 1vw
    margin: 10px
    text-align:center
    content: ''
    background:
        color: #fff
    p
    text-align: center
    
    img
        text-align: center

.reviews
    position: relative
    padding-top: 10%
    padding-bottom: 10%
    margin: 5wv
    display: grid
    grid-gap: 2vw
    grid-template-columns: 250px 250px 250px 
    grid-template-rows: 300px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        color: #4857DC    
    background: linear-gradient(90deg, #4857DC 24%, rgba(52, 31, 138, 0) 180.53%)
        
.reviews_items
    border-radius: 3px
    padding: 1vw
    margin: 10px
    text-align:center
    content: ''
    background:
        color: #fff
    p
    text-align: center  

.user
    position: relative
    img
        width: 30%
        position: absolute
        left: 10%
    p
        position: absolute
        left: 50%


.team
    position: relative
    padding-top: 10%
    padding-bottom: 10%
    margin: 5wv
    display: grid
    grid-gap: 5vw
    grid-template-columns: 250px 250px 250px 
    grid-template-rows: 250px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        image: url(../img/40.png)
        
.team_items
    border-radius: 3px
    margin: 0%
    content: ''
    border-radius: 50%
    background: 
        color: #fff
    
    img
    overflow: hidden
    text-align: center
    width: 100%     
    p
    text-align: center     


.clients
    padding-top: 10%
    padding-bottom: 10%
    margin: 5wv
    display: grid
    grid-gap: 2vw
    grid-template-columns: 350px 100px 350px 
    grid-template-rows: 100px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        color: #4857DC    

.clients_items
    border-radius: 3px
    padding: 1vw
    margin: 10px
    text-align:center
    content: ''
    background:
        color: #fff
    p
    text-align: center   


footer
    padding-top: 5%
    padding-bottom: 10%
    display: grid
    grid-gap: 2vw
    grid-template-columns: 500px 300px 
    grid-template-rows: 100px
    width: 100%
    justify-content: center
    height: auto
    content: ''
    background:
        color: #2E2D2D    

